<div style="padding: 1rem;">
    <div mat-dialog-content  >
      <h1  mat-dialog-title>Forgot Password</h1>
      <div fxLayout="column">
      <small>Kindly Enter your registered email address, You will be sent an email with instructions </small>
      <mat-form-field style="margin-top:1em;">
        <input  matInput placeholder="Please Enter Your Registered Email" [(ngModel)]="email">
    </mat-form-field>
    </div>
    </div>
    <div mat-dialog-actions align="end">
        <button mat-button mat-raised-button color="primary" (click)="submit()" cdkFocusInitial>Submit</button>
        <button mat-button color="warn" [mat-dialog-close]>Cancel</button>
    </div>
    </div>
