<!-- 
<div  fxLayout="column" style="padding: 1em;">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="submission">
      <th mat-header-cell *matHeaderCellDef> Submission Date </th>
      <td mat-cell *matCellDef="let element"> {{element.submission_date}} </td>
    </ng-container>
  
    <ng-container matColumnDef="start">
      <th mat-header-cell *matHeaderCellDef> Start </th>
      <td mat-cell *matCellDef="let element"> {{element.start_date}} </td>
    </ng-container>
  
    <ng-container matColumnDef="end">
      <th mat-header-cell *matHeaderCellDef> End </th>
      <td mat-cell *matCellDef="let element"> {{element.end_date}} </td>
    </ng-container>
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element">
            
            <ng-container *ngIf="element.approval_status === 1">Pending</ng-container>
            <ng-container *ngIf="element.approval_status === 2">Approved</ng-container> 
            <ng-container *ngIf="element.approval_status === 3">Rejected</ng-container> 
            <ng-container *ngIf="element.approval_status === 4">Withdrawn</ng-container> 
        
        </td>
      </ng-container>
      <ng-container matColumnDef="request">
        <th mat-header-cell *matHeaderCellDef> Request </th>
        <td mat-cell *matCellDef="let element"> 
            <ng-container *ngIf="element.request_type === 1">Leave Request</ng-container>
            <ng-container *ngIf="element.request_type === 2">Remote Request</ng-container> 
             </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div> -->
  
<mat-progress-bar *ngIf="!stopSpiner" mode="indeterminate"></mat-progress-bar>

<div  fxLayout="row" fxLayoutAlign="center"  >
    <mat-card >
        <div fxLayout="row" fxLayoutAlign="space-between stretch">
            <div>
                <span class="mat-title">{{__PAGE_TITLE}}</span>
            </div>
            <button routerLink="/teamLogs" mat-button color="primary">
              <span class="material-icons">
                history
                </span> Team Logs
            </button>
        </div>
        <mat-card-content fxLayout="column" fxLayoutGap="2em">
            <kendo-grid [data]="gridData" [pageSize]="state.take" [skip]="state.skip" [pageable]="true"
                filterable="menu" [sortable]="true" (dataStateChange)="dataStateChange($event)">
                <kendo-grid-column  field="name" title="Name"></kendo-grid-column>
                <kendo-grid-column field="submission_date" title="Submission Date" [filterable]="false"></kendo-grid-column>
                <kendo-grid-column field="start_date" title="Start" [filterable]="false"></kendo-grid-column>
                <kendo-grid-column field="end_date" title="End" [filterable]="false"></kendo-grid-column>
           
                <kendo-grid-column field="approval_status" title="Status" [filterable]="false">
                  <ng-template kendoGridCellTemplate let-dataItem>
                    <span >{{ getStatusText(dataItem.approval_status) }}</span>
                  </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="request_type" title="Request" [filterable]="false">
                  <ng-template kendoGridCellTemplate let-dataItem>
                    <span >{{ getStatusText2(dataItem.request_type) }}</span>
                  </ng-template>
                </kendo-grid-column>
              </kendo-grid>
           
        </mat-card-content>
    </mat-card>
</div>
