

  <div class="login-container">
    <form>
      <mat-card class="login-card">
        <mat-card-header class="login-header">
          <span class="app-title">Uniaccess Portal</span>
        </mat-card-header>
  
        <mat-card-content class="login-content">
          <button mat-raised-button class="microsoft-login-btn" 
                  (click)="loginWithMicroSoft()">
            <svg class="microsoft-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23 23">
              <path fill="#f3f3f3" d="M0 0h23v23H0z"/><path fill="#f35325" d="M1 1h10v10H1z"/><path fill="#81bc06" d="M12 1h10v10H12z"/><path fill="#05a6f0" d="M1 12h10v10H1z"/><path fill="#ffba08" d="M12 12h10v10H12z"/>
            </svg>
            Sign In with Office 365
          </button>
        </mat-card-content>
  
        <mat-card-footer class="login-footer">
          <p class="support-text">Need help? Contact <a href="mailto:support@tallymarkscloud.com">IT Support</a></p>
        </mat-card-footer>
      </mat-card>
    </form>
  </div>
  
  
  