<!-- <div   fxLayout="column" style= "margin-top: 3rem; padding: 1rem;" fxLayoutAlign="center">
    <form [formGroup]="changePassword" (ngSubmit)="submit()" fxLayoutAlign="center">
      <mat-card style="width: 90vh">
          <mat-card-header fxLayout="column">
              <div>
                  <span class="mat-title">
                      Change Password
                  </span>
                  <br />
              </div>
          </mat-card-header>
          <mat-card-content fxLayout="column">
              <div fxLayout="column" fxLayoutGap="1em">

                <mat-form-field >
                    <input matInput type="password" placeholder="New Password" formControlName="newPassword">
                    <mat-error *ngIf="changePassword.controls.newPassword.hasError('required')">
                        New Password
                        <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input matInput type="password" placeholder="Confirm  Password" formControlName="confirmPassword">
                  <mat-error *ngIf="changePassword.controls.confirmPassword.hasError('required')">
                      Confirm Password
                      <strong>required</strong>
                  </mat-error>
              </mat-form-field>
              </div>
          </mat-card-content>
          <mat-card-actions align="end">
              <button type="button" mat-raised-button color="default" matTooltip="Cancel" routerLink="/">
                  Cancel
              </button>
              <button type="submit" mat-raised-button color="primary" matTooltip="Create">
                  Change
              </button>
          </mat-card-actions>
      </mat-card>
    </form>
    </div>
 -->
