<div fxLayout="row" fxLayoutAlign="center" fxFlex>
    <mat-card>
      <div fxLayout="row" fxLayoutAlign="space-between stretch">
    
        <!-- <button routerLink="{{ __PAGE_ROUTE }}create" mat-button color="primary">
          <span class="material-icons">
            add
            </span> New
        </button> -->
      </div>
      <mat-card-content fxLayout="column" fxLayoutGap="2em">
        <kendo-grid
          [data]="gridData"
          [pageSize]="state.take"
          [skip]="state.skip"
          [pageable]="true"
          filterable="menu"
          [sortable]="true"
          (dataStateChange)="dataStateChange($event)"
        >
          <kendo-grid-column
            field="managerID"
            title="Manager ID"
            
          ></kendo-grid-column>
          <!-- <kendo-grid-column
            field="holidayDate"
            title="Holiday Date"
         
          ></kendo-grid-column> -->
          <!-- <kendo-grid-column
          field="createdDate"
          title="Created Date"
          
        ></kendo-grid-column> -->
          <kendo-grid-column title="Enabled" >
            <ng-template kendoGridCellTemplate let-dataItem>
              <input
                type="checkbox"
                class="k-checkbox"
                [checked]="dataItem.isEnable"
                
              />
              <label class="k-checkbox-label" for="ch1"></label>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column title="HR" >
            <ng-template kendoGridCellTemplate let-dataItem>
              <input
                type="checkbox"
                class="k-checkbox"
                [checked]="dataItem.isHR"
                
              />
              <label class="k-checkbox-label" for="ch1"></label>
            </ng-template>
          </kendo-grid-column>
          <!-- <kendo-grid-column filterable="false" [width]="50">
            <ng-template kendoGridCellTemplate let-dataItem>
              <button
                mat-icon-button
                routerLink="{{ __PAGE_ROUTE }}edit/{{ dataItem.id }}"
              >
              <span class="material-icons">
                edit
                </span>
              </button>
            </ng-template>
          </kendo-grid-column> -->
        </kendo-grid>
      </mat-card-content>
    </mat-card>
  </div>
  
