<div fxLayout="column">
  <form [formGroup]="EmployeeForm" (ngSubmit)="submit()" fxLayoutAlign="center">
    <mat-card style="width: 90vh">
      <mat-card-header fxLayout="column">
        <div>
          <span class="mat-title">
            {{__FORM_TITLE}}
          </span>
          <br />
          <span class="mat-caption">
            {{__FORM_SUB_TITLE}}
          </span>
        </div>
      </mat-card-header>
      <mat-card-content fxLayout="column">
        <div fxLayout="column" fxLayoutGap="1em">
          <mat-form-field class="full-width">
            <input matInput placeholder="First Name*" formControlName="firstName">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Last Name*" formControlName="lastName">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Father Name" formControlName="fatherName">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput type="tel" maxlength="11"  placeholder="Personal Number*" formControlName="personalNo">

        </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Qualification" formControlName="qualification">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Manager" value="{{ employee?.fullName }}" formControlName="manager" >
            <mat-icon matSuffix (click)="selectManager()">tab</mat-icon>
          </mat-form-field>
        </div>
        <div fxLayout="column" fxLayoutGap="1em">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email*" formControlName="email">
            <mat-error *ngIf="EmployeeForm.controls.email.hasError('pattern')">
              Not a valid
              <strong>Email</strong>
              <i>jon@doe.com</i>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="CNIC" formControlName="cnic">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input type="number" matInput placeholder="Contact" formControlName="contactNo">
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Employee Type*" formControlName="employeeType">
              <mat-option *ngFor="let i of employeee" [value]="i.value">
                {{ i.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Department*" formControlName="departmentId">
              <mat-option *ngFor="let i of department" [value]="i.id">
                {{ i.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout="column" fxLayoutGap="1em">
          <mat-form-field>
            <mat-select placeholder="Designation*" formControlName="designation">
              <mat-option *ngFor="let i of designations" [value]="i.id">
                {{ i.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input type="tel" maxlength="2"  matInput placeholder="Total Leaves" formControlName="totalLeaves">
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="1em">
          <mat-checkbox formControlName="enabled">Enabled</mat-checkbox>
        </div>

      </mat-card-content>
      <mat-card-actions align="end">
        <button type="button" mat-raised-button color="default" matTooltip="Cancel" routerLink="{{__PAGE_ROUTE}}">
          Cancel
        </button>
        <button type="submit" mat-raised-button color="primary" matTooltip="Create">
          Submit
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
