
  <div class="dashboard-container">
    <div class="tiles-grid">
      <div class="tile" onclick="window.open('http://lms.tallymarkscloud.com:8080/moodle/login/index.php', '_blank')">
        <img src="assets/img/Knowvate.png" class="tile-icon" />
        <span class="tile-title"> Knowvate LMS</span>
      </div>
      <div class="tile" onclick="window.open('https://app.kayanhr.com/', '_blank')">
        <img src="assets/img/kayan_hr.png" class="tile-icon" />
        <span class="tile-title">Kayan Hr</span>
      </div>
      <div class="tile" onclick="window.open('https://support.tmcltd.com/en/login', '_blank')">
        <img src="assets/img/TMC_support_small.png" class="tile-icon" />
        <span class="tile-title">TMC Support</span>
      </div>
      <div class="tile" onclick="window.open('https://outlook.office.com/', '_blank')">
        <img src="assets/img/microsoft.png" class="tile-icon" />
        <span class="tile-title">Web Mail</span>
      </div>
      <div class="tile" onclick="window.open('https://tmccentral-my.sharepoint.com/')">
        <img src="assets/img/microsoft.png" class="tile-icon" />
        <span class="tile-title">One Drive</span>
      </div>
      <div class="tile" onclick="window.open('https://tmccentral-my.sharepoint.com/')">
        <img src="assets/img/microsoft.png" class="tile-icon" />
        <span class="tile-title">Share Point</span>
      </div>
      <div class="tile" >
        <img src="/assets/img/tmcLogo.webp" class="tile-icon" />
        <span class="tile-title">TAQL</span>
        <span class="tile-subtitle">TMC Gen AI Agent</span>
        <span class="tile-subtitle">Coming Soon</span>
      </div>
    </div>
    <div class="chatbot-icon" (click)="openWhatsAppChat()">
      <img src="/assets/img/Pzwmsjc4m2.gif" alt="Chatbot" />
      <span class="chat-text">Chat with Us</span>
    </div>
    <div class="teams-contact" (click)="openTeamsChat()">
      <img src="/assets/img/microsoft.png" alt="Teams Icon" class="teams-icon" />
      <span class="teams-text">Contact HR</span>
    </div>
  

  </div>
  
