<div fxLayout="column" fxLayoutAlign="center" style="width: 100vh; padding: 2rem; margin: auto;">
  <form [formGroup]="designationForm" (ngSubmit)="submit()">
    <div fxLayout="column">
      <mat-card>
        <div fxLayout="column">
          <div>
            <span class="mat-title">Define Designation</span>
          </div>
        </div>
        <mat-card-content fxLayout="column">
          <div fxLayout="column" fxLayoutGap="1em">
            <mat-form-field>
              <input matInput placeholder="Name" formControlName="name">
              <mat-error *ngIf="designationForm.controls.name.hasError('required')">
                Designation is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions align="end">
          <button type="button" mat-raised-button routerLink="{{__PAGE_ROUTE}}">Cancel</button>
          <button type="submit" mat-raised-button color="primary">Submit</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </form>
</div>
